.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: black;
}
.row.content {
    height: 450px
}

.sidenav {
    padding-top: 20px;
    background-color: white;
    height: 100%;
}

footer {
    background-color: black;
    color: white;
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}
.carousel {
    padding-top:130px;
    padding-bottom:100px;
    padding-bottom:100px;
    padding-left:150px;
    padding-right:150px;
}
.carousel-inner {
    height:1050px;
}

.container-fluid{
    padding-left:150px;
}
